::selection {
	color: #b91372;
	background: #efc5ce;
	-webkit-text-fill-color: #b91372;
}

:root {
	--light-black: #333333;
	--dark-gray: #444444;
	--light-gray: #666666;
}

@media only screen and (max-width: 800px) {
	.wrap,
	.blog {
		width: 450px;
	}
	.footer,
	.blog-home-cont {
		max-width: 450px;
	}
	.gradient-2 {
		visibility: hidden;
	}
}

svg {
	width: 1rem;
	height: 1rem;
	margin-left: 10px;
	margin-right: 3px;
}

.gradient-1 {
	left: 0%;
	position: fixed;
	height: 300px;
	width: 300px;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
  filter: blur(300px);
	z-index: -10;
}

.gradient-2 {
	right: 0%;
	position: fixed;
	height: 300px;
	width: 300px;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
  filter: blur(300px);
	z-index: -10;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #6b0f1a;
	background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

h1,
h2 {
	color: var(--light-black);
	text-decoration: underline 2px #efb2bd;
}

ul > li {
	font-size: 17px;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
	color: var(--dark-gray);
}

ul > li::marker {
	color: #b91372;
}

pre {
	background: #f8f8f8 !important;
	padding: 15px;
	overflow-x: scroll;
	font-size: 14px;
}

.appwrite-img,
.next-appwrite {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	height: auto;
	object-fit: cover;
}
