::selection {
	color: #11998e;
	background: #e1efe6;
	-webkit-text-fill-color: #11998e;
}

* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html * {
	cursor: none !important;
}

:root {
	--light-black: #4a4a4a;
	--dark-gray: #444444;
	--light-gray: #666666;
}

body {
	font-family: 'LXGW WenKai Screen R', Public Sans, system-ui;
	color: var(--light-black);
}

@media only screen and (max-width: 800px) {
	.wrap,
	.blog {
		width: 450px;
	}
	.footer,
	.blog-home-cont {
		max-width: 450px;
	}
	.gradient-1,
	.gradient-2,
	.gradient-3 {
		filter: blur(90px);
	}
}

svg {
	width: 1rem;
	height: 1rem;
	margin-left: 10px;
	margin-right: 3px;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #11998e;
	background-image: linear-gradient(90deg, #11998e, #38ef7d);
}

h1,
h2 {
	color: var(--light-black);
	text-decoration: underline 2px #38ef7d;
}

a {
	font-size: 18px !important;
}

ul > li {
	font-size: 17px;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
	color: var(--dark-gray);
}

ul > li::marker {
	color: #11998e;
}

pre {
	background: #f8f8f8 !important;
	padding: 15px;
	overflow-x: scroll;
	font-size: 14px;
}

.appwrite-img,
.next-appwrite {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.gradient-1 {
	position: absolute;
	width: 150px;
	height: 150px;
	background: radial-gradient(circle 150px, #11998e, #38ef7d);
	filter: blur(70px);
	left: 7%;
	top: 20%;
	border-radius: 100px;
	z-index: -10;
	animation-name: glow;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.gradient-2 {
	position: absolute;
	width: 150px;
	height: 150px;
	background: radial-gradient(circle 150px, #11998e, #38ef7d);
	filter: blur(70px);
	right: 7%;
	top: 40%;
	border-radius: 100px;
	z-index: -10;
	animation-name: glow;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.gradient-3 {
	position: absolute;
	width: 150px;
	height: 150px;
	background: radial-gradient(circle 150px, #11998e, #38ef7d);
	filter: blur(70px);
	bottom: 0%;
	right: 40%;
	border-radius: 100px;
	z-index: -10;
	animation-name: glow;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes glow {
	25% {
		filter: blur(80px);
	}
	50% {
		filter: blur(90px);
	}
	75% {
		filter: blur(80px);
	}
	100% {
		filter: blur(70px);
	}
}
