* {
	margin: 0;
	padding: 0;
	font-family: Public Sans, system-ui;
	font-weight: 20px;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
}

::selection {
  color: #b91372;
  background: #f3eeef;
}

:root {
	--light-black: #333333;
	--dark-gray: #444444;
	--light-gray: #666666;
}